<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/afif-ramdhasuma-eTMtdh85TOk-unsplash.jpg" alt="" class="img-thumbnail" width="200px">
            <h1 class="display4">Bintang Duinata</h1>
            <p class="lead">Student | Programmer</p>
        </div>
    </div>
</div>